<mat-card
  class="organization-card"
  [ngClass]="{ 'inactive': organization.status === 'INACTIVE' }"
  (click)="onClick()"
>
  <div class="card-header">
    <div class="card-title-wrapper">
      <mat-card-title>{{ organization.commercialName }}</mat-card-title>
      <mat-card-subtitle>RUC: {{ organization.ruc }}</mat-card-subtitle>
    </div>

    <div
      class="member-type-label"
      [ngClass]="{
        'contractor': organization.currentUsersRole === 'CONTRACTOR',
        'worker': organization.currentUsersRole === 'WORKER'
      }"
    >
      <mat-icon class="role-icon">
        {{
          organization.currentUsersRole === 'CONTRACTOR'
            ? 'handshake'
            : organization.currentUsersRole === 'WORKER'
              ? 'engineering'
              : 'admin_panel_settings'
        }}
      </mat-icon>
      {{ 'resources.organization-member-type.' + organization.currentUsersRole | translate }}
    </div>
  </div>

  <mat-card-content>
    <p class="creation-date">
      {{ 'worker.organizations.created-at-label' | translate }}:
      {{ organization.createdAt | date: 'longDate' }}
    </p>
  </mat-card-content>
</mat-card>
