:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.floating-create-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
