<h2 mat-dialog-title>{{ 'organization.members.invite.title' | translate }}</h2>

<mat-dialog-content [formGroup]="inviteForm" class="form-wrapper">
  <div class="vertical-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'resources.invitation.email' | translate }}</mat-label>
      <input
        matInput
        formControlName="email"
        [placeholder]="'resources.invitation.email-example' | translate"
      />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="form-actions">
  <button mat-stroked-button (click)="cancel()">
    {{ 'global.action.cancel' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="submitForm()">
    {{ 'global.action.invite' | translate }}
  </button>
</mat-dialog-actions>
