.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.snackbar-success {
  background-color: #4caf50;
  color: #fff;
}

.snackbar-error {
  background-color: #f44336;
  color: #fff;
}

.snackbar-warning {
  background-color: #ff9800;
  color: #000;
}

.snackbar-info {
  background-color: #2196f3;
  color: #fff;
}

.snackbar-default {
  background-color: #323232;
  color: #fff;
}

